body{
  background-color: white;
}

ul{
  list-style-type: none;
  margin:0;
  white-space: nowrap;
}

li{
  display: inline-block;
  float: right;
  margin: auto;
  white-space: nowrap;
  padding: 18px;
  line-height: 25px;
}

li a{
  margin: auto;
  color: #515151;
  font-family: gillsans;
  font-size: 11px;
  text-align: center;
  transition: color 0.4s ease 0s;
  text-decoration: none;
  white-space: nowrap;
}

img{
  max-width: 100%;
  max-height: 100%;
}

h1{
  font-family: "gill sans";
  font-style: normal;
  font-size: 36pt;
  color:#d6a21b;
  padding:80px;
  margin-bottom:10px;
}

h2 div{
  font-family: "gill sans";
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  color:#f0336d;
  padding:10px;
}
h2 div:hover{
  color:pink;
}

a{
  font-family: "gill sans";
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  color:#f0336d;
  padding:10px;
}

a:hover{
  color:pink;
}

a:visited{
  color:#f0336d;
}


.home{
  flex: 1 1 auto;
  /*position: relative;*/
  width: 980px;
  height: 735px;
  top: 69px;
  bottom: 44px;
  /*padding-left: 50px;
  padding-right: 50px;*/
  margin: auto;
  object-fit: cover;
}

.footer{
  flex: 1 1 auto;
  display: inline-block;
  /* position: absolute; */
  width: 100%;
  text-align: center;
  padding-top: 55px;
  bottom: -25px;
  height: 35px;
  font-family: timesnewroman;
  color: gray;
  font-size: 12px

}
