*{
  box-sizing: border-box;

}

body{
  background-color: white;
}

ul{
  list-style-type: none;
  margin:0;
}
/*.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
}*/

li{
  display: inline-block;
  float: right;
  margin: auto;
  white-space: nowrap;
  padding: 18px;
  line-height: 25px;
}

li a{
  margin: auto;
  color: #515151;
  font-family: gillsans;
  font-size: 11px;
  text-align: center;
  transition: color 0.4s ease 0s;
  text-decoration: none;
  white-space: nowrap;
}

img{
  max-width: 100%;
  max-height: 100%;
}

h1{
  font-family: "gill sans";
  font-style: normal;
  font-size: 36pt;
  color:#d6a21b;
  padding:80px;
  margin-bottom:10px;
}

div{
  font-family: "gill sans";
  font-style: normal;
  margin-left: 50px;
  text-decoration: none;
  font-size: 18pt;
  color:#f0336d;
  padding:10px;
}

div:hover{
  color:pink;
}

div a{
  font-family: "gill sans";
  font-style: normal;
  margin-left: 50px;
  text-decoration: none;
  font-size: 18pt;
  color:#f0336d;
  padding:10px;
}

a:hover{
  color:pink;
}

h2{
  margin-left: 50px;
  color: #f0336d;
  font-family: gillsans;
  font-size: 28pt;
  transition: color 0.4s ease 0s;
  text-decoration: none;
}

h2 a{
  font-family: "gill sans";
  font-style: normal;
  text-decoration: none;
  font-size: 18pt;
  color:#f0336d;
  padding:80px;
  margin-bottom:10px;
  text-decoration: none;

}
h2 a:hover{
  color:pink;
}

.home{
  flex: 1 1 auto;
  /*position: relative;*/
  width: 980px;
  height: 735px;
  top: 69px;
  bottom: 44px;
  /*padding-left: 50px;
  padding-right: 50px;*/
  margin: auto;
  object-fit: cover;
}

.footer{
  flex: 1 1 auto;
  display: block;
  /* position: absolute; */
  width: 100%;
  text-align: center;
  padding-top: 55px;
  bottom: -25px;
  height: 35px;
  font-family: timesnewroman;
  color: gray;
  font-size: 12px

}
